.introductionContainer {
  width: 100%;

  .characters {

    .characterBox {
      position: relative;
      height: 400px;
      margin: 80px 0;

      // lineBg

      .lineBg {
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        height: 80%;
        z-index: 0;
      }

      // headBox
      
      .headBox {
        position: absolute;
        top: 0;
        height: 100%;
        z-index: 1;

        .head {
          width: 100%;
          height: 100%;
        }
      }

      // introductionBox

      .introductionBox {
        position: absolute;
        top: 15%;
        
        width: 75%;
        height: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;

        .name {
          margin: 10px 0;
          background-color: #fff;
          font-size: 2rem;
          font-weight: 800;
          color: rgb(0, 0, 0);
        }

        .slogan {
          margin-top: 30px;
          background-color: #292929;
          color: white;
          font-size: 1.2rem;
          z-index: 3;
        }

        .contentBox {
          position: relative;
          width: 70%;
          height: 100%;
          margin-top: 10px;

          .bg {
            position: absolute;
            top: -20%;
            left: 0;
            width: 100%;
            height: 150%;
            z-index: 0;
          }

          .content {
            position: absolute;
            
            margin-top: 50px;
            color: white;
            font-size: 1rem;
            z-index: 1;
          }
        }
      }

      // left & right

      .left {
        left: 0;
      }

      .right {
        right: 0;
      }
    }

    // screen < 768px

    .smallCharacterBox {
      position: relative;
      height: 400px;
      margin: 80px 0;

      // lineBg

      .lineBg {
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        height: 80%;
        z-index: 0;
      }

      // headBox

      .headBoxRight, .headBoxLeft {
        position: absolute;
        bottom: 0;
        height: 90%;
        z-index: 1;
      }

      .headBoxRight {
        right: 0;
      }

      .headBoxLeft {
        left: 0;
      }

      .head {
        width: 100%;
        height: 100%;
      }

      // introductionBox

      .introductionBox {
        position: relative;
        top: 15%;

        width: 100%;
        height: 80%;
        z-index: 1;

        .nameRight, .nameLeft {
          position: absolute;
          top: 45%;
          background-color: #fff;
          font-size: 2rem;
          font-weight: 800;
          color: rgb(0, 0, 0);
          z-index: 5;
        }

        .nameRight {
          right: 5%;
        }

        .nameLeft {
          left: 5%;
        }

        .sloganRight, .sloganLeft {
          position: absolute;
          top: 60%;
          background-color: #292929;
          color: white;
          font-size: 1rem;
          z-index: 3;
        }

        .sloganRight {
          right: 5%;
        }

        .sloganLeft {
          left: 5%;
        }

        .contentBox {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 80px;

          .bgRight, .bgLeft {
            position: absolute;
            top: -50%;
            width: 90%;
            height: 200%;
            z-index: 0;
          }

          .bgRight {
            right: 0;
          }

          .bgLeft {
            left: 0;
          }

          .contentRight, .contentLeft {
            position: absolute;
            width: 80%;
            color: white;
            font-size: 1rem;
            z-index: 1;
          }

          .contentRight {
            right: 5%;
            text-align: right;
          }

          .contentLeft {
            left: 5%;
            text-align: left;
          }
        }
      }

      // left & right

      // .left {
      //   left: -10%;
      // }

      // .right {
      //   right: -10%;
      // }
    }
  }
}

// fade-in animation

.fadeInLeft {
  animation: fadeInLeft 1.5s;
}

.fadeInRight {
  animation: fadeInRight 1.5s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate(-50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate(50px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

// typing animation

.typing {
  animation: typing 1s ease-out forwards;
}

@keyframes typing {
  to {
    background-size: 100% 100%;
  }
}