.charactersContainer {
  position: relative;
  margin-top: 20px;
  width: 100vw;
  height: 60vh;
  
  .background {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }

  .characters {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    .characterBox {
      position: relative;
      width: 20%;
      height: 100%;
      max-height: 60vh;
      display: flex;

      .characterImg {
        object-fit: contain;
        width: 100%;
        max-height: 100%;
        left: 0;
        bottom: 0;
        z-index: 2;
        opacity: 0.8;
        transition: 0.3s;
      }

      .nameBox {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 15%;
        left: 50%;
        padding: 10px;
        background-color: black;
        font-size: 2rem;
        color: white;
        transform: translate(-50%, -50%);
        z-index: 3;
        transition: 0.3s;
        opacity: 0;
        cursor: pointer;
      }
    }
  }
}