.navBarContainer {
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;

  // background
  background-image: url('../../assets/marble\ bg.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // shadow
  box-shadow: 3px 0 5px 5px rgba(0, 0, 0, 0.5);

  .logoBox {
    height: 100%;
    margin: 0.6rem;
    cursor: pointer;

    .logoIcon {
      height: 100%;
    }
  }

  .pagesBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5rem;

    .page, .activePage {
      position: relative;
      margin: 1rem;
      font-size: 1.2rem;
      cursor: pointer;

      &:hover {
        font-weight: 1000;
        color: black;
      }

      &:hover::after {
        transform: scale(1, 1);
      }
    }

    .page {
      color: rgb(100, 100, 100);
    }

    .activePage {
      color: rgb(0, 0, 0);
      font-weight: 1000;
    }

    .page::after, .activePage::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -5px;
      border-bottom: 3px black solid;
      width: 100%;
      transform: scale(0, 1);
      transition: 0.2s ease-out;
    }
  }

  ////////// screen < 768px

  .iconBox {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    cursor: pointer;

    .burger {
      width: 80%;
      height: 80%;
    }

    .cross {
      width: 50%;
      height: 50%;
    }
  }

  // when the burger/cross is toggled

  .sidebarBox, .hidden {
    position: fixed;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 80px;

    .page, .activePage {
      margin: 40px 30px 0 0;
      font-size: 1.5rem;
      cursor: pointer;
    }

    .page {
      color: rgb(100, 100, 100);
    }

    .activePage {
      font-weight: 1000;

      &::before {
        content: '';
        margin-right: 10px;
        border-right: 3px solid black;
      }
    }

    // background
    background-image: url('../../assets/marble\ bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // shadow
    box-shadow: 0px -3px 5px 5px rgba(0, 0, 0, 0.5);
  }

  // hidden
  .hidden {
    display: none;
  }
}

// animation

.sidebarSlideIn {
  animation: sidebarSlideIn 1s;
}

.sidebarSlideOut {
  animation: sidebarSlideOut 1s;
}

@keyframes sidebarSlideIn {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes sidebarSlideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(100%);
  }
}