.navBarContainer {
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 60px;

  // background
  background-image: url('../../assets/marble\ bg.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  // shadow
  box-shadow: 3px 0 5px 5px rgba(0, 0, 0, 0.5);

  .logoBox {
    height: 100%;
    margin: 0.6rem;
    cursor: pointer;

    .logoIcon {
      height: 100%;
    }
  }

  .pagesBox {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0.5rem;

    .page {
      position: relative;
      margin: 1rem;
      font-size: 1.2rem;
      cursor: pointer;

      &:hover {
        font-weight: 1000;
      }

      &:hover::after {
        transform: scale(1, 1);
      }
    }

    .page::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -0.5rem;
      border-bottom: 3px black solid;
      width: 100%;
      transform: scale(0, 1);
      transition: 0.2s ease-out;
    }
  }

  // when window width is smaller than 768px

  .burgerBox {
    height: 100%;
    z-index: 5;
    cursor: pointer;

    .burger {
      width: 90%;
      height: 90%;
    }
  }

  // when the burger is toggled

  .sideBarBox {
    position: fixed;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 80px;

    .page {
      margin: 40px 30px 0 0;
      font-size: 1.5rem;
      cursor: pointer;
    }

    // background
    background-image: url('../../assets/marble\ bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    // shadow
    box-shadow: 0px -3px 5px 5px rgba(0, 0, 0, 0.5);
}
}