.footerContainer, .smallFooterContainer {
  width: 100%;
  height: 150px;
  margin-top: 150px;
  display: flex; 

  // background
  background-image: url('../../assets/gray\ bg.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  .leftFooter {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      width: 40%; 
      max-width: 200px;     
    }
  }

  .rightFooter {
    width: 60%;
    margin: 20px;
    display: flex;
    justify-content: space-between;

    .linkSection {
      white-space: nowrap;

      .linkTitle {
        margin: 10px 0;
        font-weight: 800;
      }

      .links {

        .link {
          margin-right: 10px;
          font-size: 0.8rem;
          color: #3c3c3c;
          cursor: pointer;
        }
      }
    }

    .contactSection {
      display: flex;
      flex-direction: column;
    
      .contactTitle {
        margin: 10px 0;
        font-weight: 800;
      }

      .socialMediaCollection {
        .socialMedia {
          margin-right: 10px;
          font-size: 0.8rem;
          color: #3c3c3c;
          cursor: pointer;
        }
      }
    }
  }
}

// small screen

.smallFooterContainer {
  height: 220px;
  
  .leftFooter {
    width: 40%;

    .logo {
      width: 80%;
    }
  }

  .rightFooter {
    width: 60%;
    flex-direction: column;
  }
}