.infoBoxContainer, .smallInfoBoxContainer {
  position: relative;
  width: 80%;
  height: 300px;

  &::before {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    z-index: 3;
    opacity: 1;
    animation: boxLineAnimationX 3s ease-in-out;
  }

  &::after {
    content: '';
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    z-index: 3;
    opacity: 1;
    animation: boxLineAnimationY 3s ease-in-out;
  }

  .img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: 0 40%;
    opacity: 0.2;
  }

  .text {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    padding: 0.8rem 2rem;
  }
}

// screen < 768px

.smallInfoBoxContainer {
  height: 450px;
}

// animation

@keyframes boxLineAnimationX {
  from {
    transform: scale(0, 1);
  }
  to {
    transform: scale(1, 1);
  }
}

@keyframes boxLineAnimationY {
  from {
    transform: scale(1, 0);
  }

  to {
    transform: scale(1, 1);
  }
}